<div class="jumbotron" style="background-color:#6D88FF">
        <h1>Pocket Converter</h1>
        <h4>Convert to any currency with live quote from the market</h4>
        <form action="{{url_for('convert')}}"  method="POST">
            <div class="row">
              <div class="col-sm">
                  <select name="from_cur" class="custom-select">
                      {% if wsfrom_cur %}
                        <option value="{{ wsfrom_cur }}" selected>
                        {{ wsfrom_cur.2 }} ({{ wsfrom_cur.1 }})
                      {% else %}
                        Select currency
                      {% endif %}
                       </option>
                      {% for option in option_list %}
                      <option value="{{ option | safe }}">{{ option.2 }} ({{ option.1 }})</option>
                      {% endfor %}
                      </select>
              </div>
              <div class="col-sm">
                  <select name="to_cur" class="custom-select" >
                      {% if wsto_cur %}
                        <option value="{{ wsto_cur }}" selected>
                        {{ wsto_cur.2 }} ({{ wsto_cur.1 }})
                      {% else %}
                        Select currency
                      {% endif %}
                       </option>
                      {% for option in option_list %}
                      <option value="{{ option | safe }}">{{ option.2 }} ({{ option.1 }})</option>
                      {% endfor %}
                      </select>
              </div>
            </div>
            <div>
            <a><img src="{{url_for('static',filename='imgs/next-page.svg')}}" style="margin-left: 42%" width="30px" height="30px"></a>
            </div>
                <div class="row">
                  <div class="col">
                    <input name="from_amount" type="text" class="form-control" placeholder="Amount" style="width:367px" value="{{ wsfrom_amount | safe }}" >
                  </div>
                  <div class="col">
                    <input name="to_amount" type="text" class="form-control" placeholder="Result" style="width:367px" value="{{ to_amount | safe }}">
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-sm">
                    <button type="submit">Convert now</button>
                  </div>
                </div>
             
          </form>
</div>