<div class="jumbotron">
        <h1>Pocket Converter</h1>
        <h4>Convert to any currency with live quote from the market</h4>
        <form action="{{url_for('convert')}}"  method="POST">
            <div class="row">
              <div class="col-sm">
                  <select name="from_cur" class="custom-select">
                      <option selected>Open this select menu</option>
                      {% for option in option_list %}
                      <option value="{{ option | safe }}">{{ option.2 }} ({{ option.1 }})</option>
                      {% endfor %}
                      </select>
              </div>
              <div class="col-sm">
                  <select name="to_cur" class="custom-select" >
                      <option selected>Open this select menu</option>
                      {% for option in option_list %}
                      <option value="{{ option | safe }}">{{ option.2 }} ({{ option.1 }})</option>
                      {% endfor %}
                      </select>
              </div>
            </div>
            <div>
            <a href="{{url_for('convert')}}"><img src="{{url_for('static',filename='imgs/next-page.svg')}}" style="margin-left: 42%" width="30px" height="30px"></a>
            </div>
                <div class="row">
                  <div class="col-sm">
                    <input name="from_amount" type="text" class="form-control" placeholder="Amount" style="width:367px">
                  </div>
                  <div class="col-sm">
                    <input name="to_amount" type="text" class="form-control" placeholder="Result" style="width:367px" value="{{ to_amount | safe }}">
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-sm">
                    <button type="submit">Convert now</button>
                  </div>
                </div>
             
          </form>
</div>