<div class="jumbotron">
        <h1>Pocket Converter</h1>
        <h3>Please enter convertion request</h3>
        <form>
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Select currency">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Select currency">
                  </div>
                </div>
                <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Enter amount">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="">
                        </div>
                </div>
                <button type="submit">Convert</button>
            </form>
</div>